<!-- About Start -->
        <div id="apropros" class="container-fluid">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{{asset('img/gamal.jpg')}}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="{{asset('img/PiUGANC.png')}}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="text-primary">Apropos</h3>
                        <h1 class="mb-4">Tout sur GamalConnect</h1>
                        <p>L'Université Gamal Abdel Nasser de Conakry s'engage à garantir une insertion socio-professionnelle réussie pour tous ses étudiants. Notre objectif est de préparer nos étudiants à réussir dans leurs carrières futures en fournissant une éducation de qualité et en les soutenant tout au long de leur parcours académique.</p>
                        <p class="mb-4">Notre approche pédagogique vise à combiner des connaissances théoriques solides avec des expériences pratiques, des stages en entreprise et des opportunités de réseautage.
                            Nous collaborons étroitement avec l'industrie pour nous assurer que nos programmes sont alignés sur les besoins du marché du travail.

L'Université organise régulièrement des événements, des ateliers et des foires de l'emploi pour permettre aux étudiants de rencontrer des employeurs potentiels, de développer leurs compétences professionnelles et d'explorer diverses opportunités de carrière.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->