<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Pourquoi GamalInsertPro</h5>
                    <h1 class="mb-0">La meilleure plateforme d'insertion professionnelle pour les étudiants de l'Université Gamal Abdel Nasser</h1>
                </div>

                <h3 class="bg bg-primary text-white">Vous êtes Étudiants?</h3>
                <p class="mb-4">Connectez-vous avec les meilleures opportunités professionnelles dès aujourd'hui. Notre plateforme offre un ensemble de fonctionnalités conçues pour faciliter votre transition de l'université vers le monde du travail.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Accès à des offres exclusives</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Étudiants qualifiés et compétents</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Support 24/7</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Tarifs avantageux</h5>
                    </div>
                </div>

                <h3 class="bg bg-primary text-white">Vous êtes Entreprises?</h3>
                <p class="mb-4">Rencontrez les talents de demain dès maintenant en vous connectant avec les étudiants de l'Université Gamal Abdel Nasser. Notre plateforme vous offre un accès privilégié à un vivier d'étudiants qualifiés et compétents prêts à contribuer à la réussite de votre entreprise.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Accès à des étudiants talentueux</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Profils qualifiés et vérifiés</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Facilité de recrutement</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Collaboration fructueuse</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Besoin d'aide ?</h5>
                        <h4 class="text-primary mb-0">Contactez-nous  <a href="#contact" class="btn btn-primary">ici</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
