<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Nos Fonctionnalités</h5>
            <h1 class="mb-0">GamalInsertPro Vous offre des fonctionnalités Uniques pour votre Insertion Dans le monde professionnel</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <h4>Connexion avec les Entreprises</h4>
                        <p class="mb-0">Facilitez votre accès aux meilleures opportunités professionnelles en vous connectant avec un large réseau d'entreprises partenaires.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-briefcase text-white"></i>
                        </div>
                        <h4>Opportunités de Stages et d'Emplois</h4>
                        <p class="mb-0">Accédez à une variété d'offres de stages et d'emplois correspondant à vos compétences et à vos aspirations professionnelles.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-user-graduate text-white"></i>
                        </div>
                        <h4>Profil Étudiant Dynamique</h4>
                        <p class="mb-0">Créez et gérez un profil étudiant dynamique pour mettre en valeur vos compétences, votre formation et vos expériences.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-comments text-white"></i>
                        </div>
                        <h4>Communication Facilitée</h4>
                        <p class="mb-0">Communiquez facilement avec les recruteurs et les entreprises pour obtenir des conseils, des informations et des opportunités.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
