 <div id="header-carousel" class="carousel slide carousel-fade  container-fluid position-relative p-0" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{asset('img/UGANC.png')}}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">GamalInsertPro</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">De l'Université au monde du travail</h1>
                            {% if app.user %}
                                
                            <a href="{{path('app_notification')}}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Offres</a>
                            {% endif %}
                            <a href="#apropos" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Apropos</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{asset('img/NB.png')}}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">GamalInsertPro vous Offres</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Une Solution Inovante pour votre Insertion professionnelle</h1>

                            {% if app.user %}
                                
                            <a href="{{path('app_notification')}}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Offres</a>
                            {% endif %}
                            <a href="#apropros" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Apropos</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>