<div id="contact" class="container-fluid wow fadeInUp mb-5 accordion" data-wow-delay="0.1s" id="contact">
	<div class="container py-5">
		<div class="row g-5">
			<div class="col-lg-7">
				<div class="d-flex justify-content-center align-items-center mt-2 wow zoomIn mb-4" data-wow-delay="0.6s">
					<div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
						<i class="fa fa-phone-alt text-white"></i>
					</div>
					<div class="ps-4">
						<h5 class="mb-2">Nous appeller</h5>
						<h4 class="text-primary mb-0">+224 000 000 000</h4>
					</div>
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
						<i class="fa fa-map-marker-alt text-white"></i>
					</div>
					<div class="ms-3">
						<h4 class="text-primary">Adresse</h4>
						<a href="https://www.google.fr/maps/place/Gamal+Abdel+Nasser+University+Of+Conakry/@9.5434569,-13.6793679,17z/data=!4m6!3m5!1s0xf1cd6d3f93e0449:0x9e9b96b41bdb1ebc!8m2!3d9.5456245!4d-13.6764047!16zL20vMDR6eF82?entry=ttu" target="_blank" class="h5">Conakry Dixin</a>
					</div>
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
						<i class="fa fa-envelope text-white"></i>
					</div>
					<div class="ms-3">
						<h4 class="text-primary">E-Mail</h4>
						<a class="h5" href="mailto:info@example.com" target="_blank">insertpro@gmail.com</a>
					</div>
				</div>
				<div class="p-5 h-100 rounded contact-map bg-primary">
					<iframe class="rounded w-100 h-100" src="img/localisation.png" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="section-title position-relative pb-3 mb-4">
					<h5 class="fw-bold text-primary text-uppercase">Nous contacter</h5>
					<h4 class="mb-0">Besoins de plus d'informations, Voulez poser une question,nous laisser un message?</h4>
				</div>
				<div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
					<form>
						<div class="row g-3">
							<div class="col-xl-12">
								<input type="text" class="form-control bg-light border-0" placeholder="Votre nom complet" style="height: 55px;">
							</div>
							<div class="col-12">
								<input type="email" class="form-control bg-light border-0" placeholder="Votre email" style="height: 55px;">
							</div>
							<div class="col-12">
								<select class="form-select bg-light border-0" style="height: 55px;">
									<option value="2">Demande d'info</option>
									<option value="1">Question l'utilisation</option>
									<option value="3">j'ai un problème</option>
									<option value="4">Autre</option>
								</select>
							</div>
							<div class="col-12">
								<textarea class="form-control bg-light border-0" rows="3" placeholder="Message"></textarea>
							</div>
							<div class="col-12">
								<button class="btn btn-dark w-100 py-3" type="submit">Envoyer</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
