{% extends 'base.html.twig' %}

{% block title %}Administration!{% endblock %}

{% block body %}
<div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{ include("admin/_partials/_sidebar.html.twig") }}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{ include("admin/_partials/_topbar.html.twig") }}
                <!-- End of Topbar -->

                <div class="m-4">
                {% block content %}
                    {# content page adapteur  #}
                {% endblock %}
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{ include("admin/_partials/_footer.html.twig") }}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selectionner  "Déconnecter " si vous voulez-vous déconnecter.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Déconnecter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}