	{% extends 'check_existence/index.html.twig' %}

	{% block containt %}
		

	<div class="main">  	
			<div class="signup">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">Information(s) de connexion incorrecte(s)</div>
					{% endif %}
					{% if app.user %}
						<div class="mb-3 alert alert-info">
							Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" style="text-decoration:none">Deconnexion</a>
						</div>
					{% endif %}
	
	
					<label for="chk" aria-hidden="true">Connexion</label>
					<input type="txt" name="username" placeholder="Matricule" autocomplete="username" required autofocus>
					<input type="password" name="password" placeholder="Password" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" >Connexion</button>
				</form>
				<div style="display: flex; justify-content:center;align-items:center">
					<a href="{{path('app_register_etudiant')}}" style="color: white;font-weight:700 ; text-decoration:none;margin:40px">Activer mon compte</a>
				</div>
			</div>
	</div>
</body>
</html>
{% endblock %}
