<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; groupe étudiant du Centre Informatique de UGANC</span>
        </div>
    </div>
</footer>