<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <!-- Barre de recherche-->
    <form method="GET" action="{{path('app_admin')}}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <select name="year" class="form-control bg-light border-0 small" aria-describedby="basic-addon2">
                <option selected disabled="">Selectionner une Anneé pour rechercher</option>
                <option value="1">2021</option>
                <option value="2">2023</option>
                <option value="3">2024</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>