<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_admin') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tableau de Bord</span></a>
            </li>

            <!-- Divider -->    
            <hr class="sidebar-divider">

            <!-- Heading  administration-->
            <div class="sidebar-heading">
                Administration
            </div>
            <!-- Nav Item - gestion etudiants -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_gestion_etudiant') }}">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Gestion des Etudiants</span></a>
            </li>

            <!-- Nav Item - gestion etudiants -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Gestion des Offres</span></a>
            </li>

            <!-- Nav Item - Statistique -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Statistique</span></a>
            </li>

            {#<!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading  catégory-->
            <div class="sidebar-heading">
                Catégorie
            </div>
            <!-- Nav Item - Employer -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Employé</span></a>
            </li>

            <!-- Nav Item - Formations -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Formation</span>
                </a>
            </li>

            <!-- Nav Item - Voyages -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Voyage</span>
                </a>
            </li>

            <!-- Nav Item - Stage -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Stage</span>
                </a>
            </li>

            <!-- Nav Item - Entrepreneur -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Entrepreneur</span>
                </a>
            </li>

            <!-- Nav Item - Recherche d'Emploi -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-search"></i>
                    <span>Recherche d'Emploi</span>
                </a>
            </li>
#}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

           

        </ul>