{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Offre{% endblock %}

{% block content %}
    <h1 class="text-center">Publication d'une Offre</h1>

    {{ include('offre/_form.html.twig') }}

    <a href="{{ path('app_offre_index') }}">back to list</a>
{% endblock %}
