{% extends 'base.html.twig' %}

{% block title %}Nouvelle Offre{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajout d'une nouvelle Offre</h1>

        {{ include('offre/_form.html.twig') }}

        <a href="{{ path('app_offre_index') }}" class="btn btn-secondary mt-3">Retour</a>
    </div>
{% endblock %}
