{% extends 'base.html.twig' %}

{% block title %}Edit TypeOffre{% endblock %}

{% block body %}
    <h1>Edit TypeOffre</h1>

    {{ include('type_offre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_offre_index') }}">back to list</a>

    {{ include('type_offre/_delete_form.html.twig') }}
{% endblock %}
