{% extends 'base.html.twig' %}

{% block title %}New TypeOffre{% endblock %}

{% block body %}
    <h1>Create new TypeOffre</h1>

    {{ include('type_offre/_form.html.twig') }}

    <a href="{{ path('app_type_offre_index') }}">back to list</a>
{% endblock %}
